{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}

    <h1> myHorse </h1>
    
        <div class="row">
            {% for horse in horses %}
                <div class="col-md-4">
                    <a href="/{{horse.id}}/">
                        <div class="treasure panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">{{ horse.name }}</h2>
                        </div>
                        </div>
                    </a>
                        <div class="panel-body">
                                <div class="treasure-photo">
                                    <img src="{{ horse.image.url }}" width=100% height=auto>
                                </div>
                        </div>
                    </div>
                
             {% endfor %}

{% endblock %}